<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Weather</title>
</head>
<body>
    <form th:action="@{/weatherByCity}" method="get">
        <label for="city">City</label>
        <select id="city" th:name="id">
            <option value="4119617">London</option>
            <option value="1819729">Hong Kong</option>
        </select>
        <input type="submit">
    </form>

    <div th:if="${weatherInfo}">
        <table border="2">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>City</th>
                    <th>Overall description</th>
                    <th>Temperature F</th>
                    <th>Temperature C</th>
                    <th>Sunrise</th>
                    <th>Sunset</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td th:text="${weatherInfo.date}"></td>
                    <td th:text="${weatherInfo.city}"></td>
                    <td th:text="${weatherInfo.description}"></td>
                    <td th:text="${#numbers.formatDecimal(weatherInfo.tempF, 1, 1)}"></td>
                    <td th:text="${#numbers.formatDecimal(weatherInfo.tempC, 1, 1)}"></td>
                    <td th:text="${weatherInfo.sunrise}"></td>
                    <td th:text="${weatherInfo.sunset}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>